<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenerds" translate="label" sortOrder="401">
            <label>Magenerds</label>
        </tab>
        <section id="system_diff" translate="label" showInDefault="1" showInStore="0" showInWebsite="0" >
            <label>SystemDiff</label>
            <tab>magenerds</tab>
            <resource>Magenerds_SystemDiff::config_system_diff</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInStore="0" showInWebsite="0">
                <label>General</label>
                <field id="enabled" type="select" translate="label" sortOrder="10" showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>Enabled</label>
                    <comment>Flag for enabling the functionality</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="connection" translate="label" sortOrder="20" showInDefault="1" showInStore="0" showInWebsite="0">
                <label>Connection</label>
                <field id="api_type" translate="label" type="select" sortOrder="10" showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>API Type</label>
                    <comment>Type of API to use: REST or SOAP.</comment>
                    <source_model>Magenerds\SystemDiff\Model\Config\Source\ApiType</source_model>
                </field>
                <field id="remote_system_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>Remote System Url</label>
                    <comment><![CDATA[
                    Complete URL to the endpoint.<br>
                    REST: http[s]://[remotehost]/index.php/rest/all/V1/systemConfig/all<br>
                    SOAP: http[s]://[remotehost]/soap?wsdl&services=magenerdsSystemDiffServiceFetchLocalDataServiceV1<br>
                    <br>
                    See <a href="http://devdocs.magento.com/guides/v2.2/get-started/soap/soap-web-api-calls.html" target="_blank">http://devdocs.magento.com/guides/v2.2/get-started/soap/soap-web-api-calls.html</a>
                    ]]></comment>
                </field>
                <field id="access_token" translate="label" type="text" sortOrder="30" showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>Access Token</label>
                    <comment>Access Token of the integration user on the remote system. This user has to have the checkmark on Stores > Settings > Configuration > SystemDiff Section</comment>
                </field>
                <field id="system_diff_sync_button" translate="label comment" type="button" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Magenerds\SystemDiff\Block\System\Config\Form\SyncButton</frontend_model>
                    <label>Diff now</label>
                    <comment>Run the sync/diff process now.</comment>
                </field>
            </group>
            <group id="display" translate="label" sortOrder="30" showInDefault="1" showInStore="0" showInWebsite="0">
                <label>Display</label>
                <field id="store_config" type="select" translate="label" sortOrder="10" showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>Store configuration diff</label>
                    <comment>Flag for showing the store configuration differences</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>