<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenerds" translate="label" sortOrder="401">
            <label>Magenerds</label>
        </tab>
        <section id="system_diff" translate="label" showInDefault="1" showInStore="0" showInWebsite="0" >
            <label>SystemDiff</label>
            <tab>magenerds</tab>
            <resource>Magenerds_SystemDiff::config_system_diff</resource>
            <group id="general" translate="label" showInDefault="1" showInStore="0" showInWebsite="0">
                <label>General</label>
                <field id="enabled" type="select" translate="label" showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>Enabled</label>
                    <comment>Flag for showing the differences in the backend</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="connection" translate="label" showInDefault="1" showInStore="0" showInWebsite="0">
                <label>Connection</label>
                <field id="remote_system_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>Remote System Url</label>
                    <comment>Url of the system to compare with</comment>
                </field>
                <field id="access_token" translate="label" type="text" sortOrder="2" showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>Access Token</label>
                    <comment>Access Token of the integration user on the remote system. This user has to have the checkmark on Stores > Settings > Configuration > SystemDiff Section</comment>
                </field>
            </group>
        </section>
    </system>
</config>